<nb-card size="giant">
  <nb-card-header [ngClass]="'card-bck'">
    JUMPSTART YOUR NEW CAREER
  </nb-card-header>
  <nb-card-body [ngClass]="'home-page'"></nb-card-body>

  <nb-alert status="info">
    <!-- <strong style="float: center; text-align: center; color: red;  ">F</strong> Learn the most -->
    <nb-card-header [ngClass]="'card-bck'">
      Full Stack Web Development
    </nb-card-header>
    Learn the most popular language for making websites, web apps, games, animations, and mobile applications. In this
    track you'll learn front-end and back-end JavaScript, some of today's most versatile and sought-after skills.
  </nb-alert>
</nb-card>
