<nb-card size="large" status="info">
  <nb-card-header>Full-Stack Development Course!!</nb-card-header>
  <nb-card-body>
    <div class="fullscreen-video-wrap header-overlay">
      <video src="../../../assets/video/3.mp4" autoplay="true" loop="true"></video>
    </div>

    <nb-accordion multi>
      <nb-accordion-item [collapsed]="false">
        <nb-accordion-item-header>
          Product Details
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a
          name for any diffuse astronomical object, including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Reviews
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a
          name for any diffuse astronomical object, including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Edit
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a
          name for any diffuse astronomical object, including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
